body {
    background-color: #0f1621;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

h1, p {
    text-align: center;
    color: white;
}

a {
    color: #66a3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.language-selector {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.language-selector select {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    cursor: pointer;
}

.language-selector select:hover {
    background-color: #f0f0f0;
}